* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image.png);
}

.all {
  height: 70%;
  width: 30%;
  background-color: transparent;
  border: 3px solid #979797;
  border-radius: 5%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  backdrop-filter: blur(20px);
}

.title {
  text-align: center;
  padding-top: 1rem;
  font-size: 40px;
  color: white;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -32px;
}

.input {
  width: 40%;
}

.bt {
  display: flex;
  justify-content: center;
}

.b {
  height: 45px;
  width: 80%;
  border: 5px solid #FB8F51;
  border-radius: 5px;
  color: white;
  background-color: #FB8F51;
  font-size: 15px;
  margin: 10px;
  font-size: 16px;
}

#i {
  margin: 10px;
  color: white;
}

.create {
  color: white;
}

.psd {
  display: flex;
  justify-content: center;
}

.hr {
  width: 80%;
  color: #979797;
}

.hr1 {
  display: flex;
  justify-content: center;
}

.bt2 {
  display: flex;
  justify-content: center;
}

.ii {
  height: 45px;
  width: 58%;
  border: 5px solid #FB8F51;
  border-radius: 5px;
  color: white;
  background-color: #FB8F51;
  font-size: 15px;
  margin: 50px;
}

.username,
.password1 {
  height: 45px;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

.name {
  display: flex;
  justify-content: space-around;
}

.Email {
  margin-right: 3%;
}

.Psw {
  margin-right: 10%;
}

.confpsw {
  margin-right: 26%;
}

.p {
  justify-content: space-around;
}

.myStyle {
  color: red;
}

.hideme1,
.hideme3 {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .all {
    width: 80%;
  }

  .input,
  .username,
  .password1,
  .ii {
    width: 100%;
  }
}
